<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-users fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">People</div>
                    </div>
                </div>
            </div>
            <%= link_to "javascript:;", :data => { :html => true, :placement => "bottom", :content => "#{render 'layouts/dashboard_people_widget_menu'}", :container => "body", :title => "Manage People", :toggle => "popover", :trigger => "focus" } do %>
                <div class="panel-footer">
                    <span class="pull-left">Manage People</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-clock-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Time</div>
                    </div>
                </div>
            </div>
            <a href="#" type="button" data-container="body" data-toggle="popover" data-placement="bottom" data-content="Coming Soon" data-original-title="" title="Manage Time">
                <div class="panel-footer">
                    <span class="pull-left">Manage Time</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-cubes fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Administration</div>
                    </div>
                </div>
            </div>
            <%= link_to "javascript:;", :data => { :html => true, :placement => "bottom", :content => "#{render 'layouts/dashboard_admin_widget_menu'}", :container => "body", :title => "Manage Administration", :toggle => "popover", :trigger => "focus" } do %>
                <div class="panel-footer">
                    <span class="pull-left">Manage Administration</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-gears fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">Configuration</div>
                    </div>
                </div>
            </div>
            <%= link_to "javascript:;", :data => { :html => true, :placement => "bottom", :content => "#{render 'layouts/dashboard_config_widget_menu'}", :container => "body", :title => "Manage Configuration", :toggle => "popover", :trigger => "focus" } do %>
                <div class="panel-footer">
                    <span class="pull-left">Manage Configuration</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-down"></i></span>
                    <div class="clearfix"></div>
                </div>
            <% end %>
        </div>
    </div>
</div>