<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Terminate</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
		<%= render 'terminaton_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-plus fa-fw"></i> Terminate Employee
			</div>
			<div class="panel-body">	
				<%= render 'new_form' %>
			</div>
		</div>
	</div>
</div>