<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Employees</h2>
    </div>
</div>

<%= render 'layouts/person_details' %>

<div class="row">
    <div class="col-lg-12">
		<%= render 'person_errors' %>
	</div>
</div>

<%= render 'layouts/person_tab_navigation_edit' %>

<div class="row top15">
    <div class="col-lg-12">
		<%= render 'edit_form' %>
	</div>
</div>
