<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Emergency Contacts</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<%= render 'person_details_nav' %>


<div class="panel with-nav-tabs panel-default">
	<div class="panel-heading">
		<%= render 'person_tab_navigation' %>
	</div>	
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Name</th>
				</tr>
			</thead>
			<tbody>
				<% @person.emergency_contacts.each do |ec| %>
				<tr>
					<td><%= ec.name %></td>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>
<%= link_to "Add Emergency Contact", new_emergency_contact_path(:person_id => @person.id), :class => 'btn btn-primary' %>