<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pay Details</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<%= render 'person_details_nav' %>

<div class="panel with-nav-tabs panel-default">
	<div class="panel-heading">
		<%= render 'person_tab_navigation' %>
	</div>	
	<div class="panel-body">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>pay rate</th>
				</tr>
			</thead>
			<tbody>
				<% @person.pay_details.each do |pd| %>
				<tr>
					<td><%= pd.pay_rate %></td>
				</tr>
				<% end %>
			</tbody>

		</table>
	</div>
</div>
<br/>
<%= link_to "Add Pay Component", new_pay_detail_path(:person_id => @person.id), :class => 'btn btn-primary' %>