<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Job Details</h1>
    </div>
</div>

<%= render 'layouts/person_details' %>

<div class="row">
    <div class="col-lg-12">
		<%= render 'job_detail_errors' %>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<%= render 'layouts/person_tab_navigation_edit' %>
	</div>
</div>

<div class="row top15">
    <div class="col-lg-12">
		<%= render 'edit_form' %>
	</div>
</div>
