<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Currencies</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'currency_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-plus fa-fw"></i> Add Currency
			</div>
			<div class="panel-body">	
				<%= render 'edit_form' %>
			</div>
		</div>
	</div>
</div>