<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
		<%= render 'user_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-th-list fa-fw"></i> Users</div>
			<div class="panel-body">	
				<%= render 'edit_form' %>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	var checkbox = document.getElementById('change_password');
	var user_details_div = document.getElementById('user_fields');
	checkbox.onchange = function() {
		if(this.checked) {
			user_details_div.style['display'] = 'block';
		} else {
			user_details_div.style['display'] = 'none';
		}
	};
</script>
