<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Users</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading"><i class="fa fa-th-list fa-fw"></i> Users</div>
			<div class="panel-body">	
				<%= render 'show_form' %>
			</div>
		</div>
	</div>
</div>

