<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Skills</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
		<%= render 'skill_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-pencil fa-fw"></i> Edit Skill
			</div>
			<div class="panel-body">	
				<%= render 'edit_form' %>
			</div>
		</div>
	</div>
</div>