<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">System Lanuages</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'system_language_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">	
		<%= render 'new_form' %>
	</div>
</div>