<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Pay Grades</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'pay_grade_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<i class="fa fa-pencil fa-fw"></i> Edit Pay Grade
			</div>
			<div class="panel-body">	
				<%= render 'new_form' %>
			</div>
		</div>
	</div>
</div>