<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edit Pay Grade</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'pay_grade_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<%= render 'new_form' %>
	</div>
</div>