<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">View Pay Grade</h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
		<%= render 'pay_grade_errors' %>
	</div>
</div>
<div class="row">
    <div class="col-lg-12">
		<%= render 'show_form' %>
	</div>
</div>