<% if @reporting_relationship.errors.any? %>
	<div class="panel panel-danger">
		<div class="panel-heading">
			<i class="fa fa-exclamation-triangle fa-fw"></i> <%= pluralize(@reporting_relationship.errors.count, "error") %> prohibited this user from being saved:
		</div>
		<div class="panel-body">	
			<ul>
				<% @reporting_relationship.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		</div>
	</div>
<% end %>