/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require bootstrap
 *= require_self 
 *= require font-awesome
 */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 50px;
  margin-top:155px;
}

@media (min-width: 768px) {
  body {
    margin-top:65px;
  }
}

.table tbody>tr>td.vert-align {
  vertical-align: middle;
}

.form-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #f9f9f9;
}

.form-footer-container {
  margin: 7px 0;
}

.top5 { margin-top: 5px; }
.top7 { margin-top: 7px; }
.top10 { margin-top: 10px; }
.top15 { margin-top: 15px; }
.top17 { margin-top: 17px; }
.top30 { margin-top: 30px; }

.login {
  background-color:#ffffff;
}

.login-inverse {
  background-color: #2196f3;
}

.login-text {
  background-color: #ffffff;
}

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}

@media (max-width:767px) {
  .navbar-nav.navbar-collapse {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top:0;
    margin-bottom:0;
  }
}

.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.popover {
  max-width: 75%;
  min-width: 300px;
  width: auto;
}

.panel-primary2 {
  border-color: #008C43;
}
.panel-primary2 > .panel-heading {
  color: #ffffff;
  background-color: #008C43;
  border-color: #008C43;
}
.panel-primary2 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #008C43;
}
.panel-primary2 > .panel-heading .badge {
  color: #008C43;
  background-color: #ffffff;
}
.panel-primary2 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #008C43;
}

.panel-primary3 {
  border-color: #FF402B;
}
.panel-primary3 > .panel-heading {
  color: #ffffff;
  background-color: #FF402B;
  border-color: #FF402B;
}
.panel-primary3 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #FF402B;
}
.panel-primary3 > .panel-heading .badge {
  color: #FF402B;
  background-color: #ffffff;
}
.panel-primary3 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #FF402Bs;
}

.panel-primary4 {
  border-color: #2E5214;
}
.panel-primary4 > .panel-heading {
  color: #ffffff;
  background-color: #2E5214;
  border-color: #2E5214;
}
.panel-primary4 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #2E5214;
}
.panel-primary4 > .panel-heading .badge {
  color: #2E5214;
  background-color: #ffffff;
}
.panel-primary4 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #2E5214;
}

.panel-primary5 {
  border-color: #501D52;
}
.panel-primary5 > .panel-heading {
  color: #ffffff;
  background-color: #501D52;
  border-color: #501D52;
}
.panel-primary5 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #501D52;
}
.panel-primary5 > .panel-heading .badge {
  color: #501D52;
  background-color: #ffffff;
}
.panel-primary5 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #501D52;
}

.panel-primary6 {
  border-color: #016182;
}
.panel-primary6 > .panel-heading {
  color: #ffffff;
  background-color: #016182;
  border-color: #016182;
}
.panel-primary6 > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #016182;
}
.panel-primary6 > .panel-heading .badge {
  color: #016182;
  background-color: #ffffff;
}
.panel-primary6 > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #016182;
}